body { 
  background: linear-gradient(135deg,  
    #676cb7, 
    #5a34a3,
    #7fe5dc,
    #1dc6cb,
    #4eb8cb,
    #a296cb,
    #bcacd4,
    #beb6d4,
    #6c44ac
  );
  backdrop-filter: blur(200px); 
}

* {
  filter: none;
}
